<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="login-form">
    <h1>Movie Form</h1>
    <form action="/updateMovie" method="POST">
      <label for="movieName">movie name</label>
      <input type="text" id="movieName" name="movieName" value="<%= movieToEdit.movieName %>" required>
      <label for="movieSummary">Summary</label>
      <input type="text" id="movieSummary" name="movieSummary" value="<%= movieToEdit.movieSummary %>" required>
      <label for="moviePoster">enter poster name with extension you will need to send image to web manager
        seperately</label>
    <input type="text" id="moviePoster" name="moviePoster" value="<%= movieToEdit.posters %>" required>
      <label for="release Date">release date</label>
      <input type="date" id="releaseDate" name="releaseDate" value = "<%= movieToEdit.releaseDate %>" required>
      <button id = "movieID" name = "movieID" type = "submit" value = "<%= movieToEdit.movieID %>">Submit</button>
    </form>
</body>
</html>